* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color:inherit;
}

.header-footer {
    background-color:black;
    color:white;
}

.video {
    margin-bottom: 32px;
    font-size: 20px;
   }

.main {
    background-image:url(../imagenes/imagen\ de\ negocio.jpg);
    color: black;
     
}

.seccion_1 {
    text-transform: uppercase;
}
