* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: gray;
    color: green;
}

p {
    color: blue;
}

.promociones {
    color: brown;
}

#parrafo-2 {
    font-size: 50; /* tamaño de la fuente*/
    text-align: center; /* texto centrado*/
}

.degradado {
    background-image: ;
}